.DS_Store
.env.*.local
.env.local
.idea
.netlify
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
pnpm-debug.log*
resetdb.sh
*.sln
sql/clear-data.sql
*.suo
*.sw?
.vscode
yarn-debug.log*
yarn-error.log*
.env
*/certs
